body{
  padding-top: 125px;
}

.container-fluid img{
  mix-blend-mode: multiply;
}
.mymenu_anchor
{
  color:rgb(245, 244, 244) !important;
  margin-left: 30px;
}
.text{
  color: rgb(143, 17, 157);
}
#shopbycategory{
  color:rgb(232, 51, 51);
}
.mynav_background
{
    background:linear-gradient(to left, rgb(232, 51, 51), #c22681);
}
.notification
{
     background-color: rgb(143, 17, 157);
     color:rgb(244, 238, 238);
     text-align: center;
}

@media (min-width:576px)
{
.carousel-item img 
{
  height:400px;
  object-fit: cover;
}
}

#background-video
{
   height:500px;
   object-fit: cover;
}
.video-text-over
{
  z-index:999;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.animation-text
{
   width:17ch;
   overflow: hidden;
   white-space:nowrap;
   border-right:2px solid white ;
   animation: pankaj 6.5s steps(14) infinite;
}
.mycards img
{
    width: 100%;
    height: 450px;

}
.mycards:hover
{
  box-shadow: 0 10px 16px rgba(0,0,0,0.4), 0 12px 40px rgba(0,0,0,0.3);

}
@keyframes pankaj
{
    from{width:0;}
    to{width:17ch;}
}
@media(max-width:768px)
{
.mycards
{
  margin-left:6%;
}
}

@media(min-width:700px)
{
.mycards
{
  margin-left:2%;
  width:31%;
}
}

@media(max-width:576px)
{
.mycards
{
  margin-left:0%;
  width:100%;
}
}

.cardimg:hover{

 box-shadow: 0 10px 16px rgba(0,0,0,0.4), 0 12px 40px rgba(0,0,0,0.3);
}

.doted-div{
  border-top: 5px dotted #d13219; /* Change #000 to your desired color */
 
  
}


/* 3d pics */
.Package_Heading
{
    text-align: center;
    margin-top:2%;
    color:rgb(68,56,56);
}
.package_offer_div
{
    margin-top:40px;
     display: flex;
     justify-content:space-around;
}
.offer_card
{
     width:20%;
     height:260px;
     /* border-radius:20px; */
     box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.19);
}
.offer_card:hover{
     box-shadow: 0 10px 16px rgba(0,0,0,0.4), 0 12px 40px rgba(0,0,0,0.3);
}
.package_image
{
     /* border-radius:20px; */
      width:100%;
      height:100%;
      background-size: cover;
}